.slider {
  .slide {
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    margin: auto;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  }

  .slide.active {
    opacity: 1;
    position: relative;
  }

  .slide.prev {
    transform: translateX(-100%);
  }

  .slide.next {
    transform: translateX(100%);
  }
}
