<div class="news">
  <div class="news__slider">
    <app-slider [controls]="true" [autoPlay]="false">
      <img class="slide" src="https://ligazakon.net/static_liga_net/IMAGES/NZ204998.jpg" alt="">
      <img class="slide" src="https://ligazakon.net/static_liga_net/IMAGES/2_062.jpg" alt="">
      <img class="slide" src="https://ligazakon.net/static_liga_net/IMAGES/20170315_182.jpg" alt="">
      <img class="slide" src="https://ligazakon.net/static_liga_net/IMAGES/NZ204998.jpg" alt="">
      <img class="slide" src="https://ligazakon.net/static_liga_net/IMAGES/2_062.jpg" alt="">
      <img class="slide" src="https://ligazakon.net/static_liga_net/IMAGES/20170315_182.jpg" alt="">
    </app-slider>
  </div>
  <div class="news__list">

  </div>
</div>
